*{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	
}
header{
	font-weight: 700;
	text-align: center;
	padding: 40px 0px 20px 0px;
}
.title{
	font-size: 60px;
}

nav{
	padding: 20px 0px 40px 0px;
}
a{
	color:#4C1D22;
	text-decoration: none;
	padding:0px 20px 0px 20px;
}
a:hover{
	color:#CC4E5B;
}
/*heart container*/
/*.heartcontain{
	position: relative;


}*/
.heart{
	background-color: #993A44;
  position: relative;
  width: 300px;
  height: 300px;
  margin:130px auto 0px auto; 
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  
}
.heart:before,
.heart:after{
  position: absolute;
  width: 300px;
  height: 300px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #993A44;

}
.heart:before{
  bottom: 0px;
  left: -150px;
}
.heart:after{
  top: -150px;
  right: 0px;
}

/*container*/
.container{
	width:600px;
	height:375px;
	margin: 30px auto 30px auto;
/*	background-color: #D49198;*/
	/*display: none;*/
}
.slide{
	width:600px;
	height:375px;
	display: none;
	padding: 50px;
	/*text-align: center;*/
}
/*slides*/
#one{
	font-size: 100px;
	text-align: center;
}
/*buttons*/
button{
	width:95px;
    background-color: #4C1D22; 
    opacity: 0.6;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}
button:hover{
	opacity: 1.0;
}

.navbuttons{
	text-align: center;
	display: none;
}




ul{
	font-size: 16px;
	width:500px;
	list-style-type: none;
	
}
li{
	/*list-style-type: none;*/

	margin: 20px 0px 20px 0px;
}
p{
	margin: 20px 0px 20px 0px;
}
strong{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}